.section {
    // min-height: 100vh;
    // height: 100%;
    // min-height: rem(650px);
    // display: flex;// flex-direction: column;
// justify-content: center;
    width: 95%;
    max-width: 1262px;
    margin: 0 auto;
}